<h3>Our Products</h3>

<%= form_tag(products_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
    <%= collection_select(:product, :category_id, @categories, :id,
                          :category_name, :include_blank => 'All Categories') %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<%=@number%>

<% if @products.blank? %>
  <h4>There are no products containing the term <%= params[:search] %>
     Category <%=params[:category_id]%>.</h4>
<% end %>

<%= render partial: 'product',
           collection: @products,
           locals: { display_product_link: true } %>
