<header>
  <h1>Kingsman Apparel & Accessories</h1>
  <nav>
    <ul>
      <li><a><%= link_to 'Home', root_path %></a></li>
      <li><a><%= link_to 'Browse Products', products_path %></a></li>
      <% if user_signed_in? %>
       Logged in as <strong><%= current_user.email %></strong>.
       <li><a><%= link_to "Logout", destroy_user_session_path, method: :delete %></a></li>
      <% else %>
       <li><a><%= link_to "Sign Up", new_user_registration_path %></a></li>
       <li><a><%= link_to "Login", new_user_session_path %></a></li>
      <% end %>
      <br />
      

    </ul>
  </nav>
</header>
